{% load static %}
{% load crispy_forms_filters %}

<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/uikit.js' %}"></script>
<script type="text/javascript" src="{% static 'js/components/grid.js' %}"></script>
<script type="text/javascript" src="{% static 'js/components/slider.js' %}"></script>
<script type="text/javascript" src="{% static 'js/components/slideshow.js' %}"></script>
<script type="text/javascript" src="{% static 'js/components/slideset.js' %}"></script>
<script type="text/javascript" src="{% static 'js/components/sticky.js' %}"></script>
<script type="text/javascript" src="{% static 'js/components/lightbox.js' %}"></script>
<script type="text/javascript" src="{% static 'js/isotope.pkgd.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/theme.js' %}"></script>
{#<script type="text/javascript">#}
{#    new SimpleCounter("countdown4", 1476154800, {#}
{#        'continue': 0,#}
{#        format: '{D} {H} {M} {S}',#}
{#        lang: {#}
{#            d: {#}
{#                single: 'day',#}
{#                plural: 'days'#}
{#            }, //days#}
{#            h: {#}
{#                single: 'hr',#}
{#                plural: 'hrs'#}
{#            }, //hours#}
{#            m: {#}
{#                single: 'min',#}
{#                plural: 'min'#}
{#            }, //minutes#}
{#            s: {#}
{#                single: 'sec',#}
{#                plural: 'sec'#}
{#            } //seconds#}
{#        },#}
{#        formats: {#}
{#            full: "<span class='countdown_number' style='color:  '>{number} </span> <span class='countdown_word' style='color:  '>{word}</span> <span class='countdown_separator'>:</span>", //Format for full units representation#}
{#            shrt: "<span class='countdown_number' style='color:  '>{number} </span>" //Format for short unit representation#}
{#        }#}
{#    });#}
{#</script>#}
{#modal#}
<div class="modal fade" id="eventticketmodal" tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close border-0" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title text-primary">رزرو بلیط</h5>
            </div>
            <div class="modal-body" id="form-container">
                {% csrf_token %}
                <div class="ticket-form" dir="rtl">
                    <form id="form-container" method="POST">
                        <p id="id_event" class="d-none">{{ event.id }}</p>
                        {{ form | crispy }}
                    </form>
                    <p id="errors"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن
                </button>
                <button id="reserve_button" type="button" class="btn btn-success" onclick="buyTicket()">رزرو</button>
            </div>
        </div>
    </div>
</div>
<script>
    function buyTicket() {
        let full_name = $('#id_full_name').val()
        let phone = $('#id_phone').val()
        let national_code = $('#id_national_code').val()
        let event = $('#id_event').html()
        $.ajax({
            headers: {
                'X-CSRFTOKEN': '{{ csrf_token }}'
            },
            url: "{% url 'events:ticket-api' %}",
            method: "POST",
            data: {
                full_name: full_name,
                phone: phone,
                national_code: national_code,
                event: event,

            },

            success: function (success) {
                $('.field-errors').remove()
                $('.ticket-form').html(`<p class="text-white border border-success bg-success p-2 rounded" style="font-family: b yekan">هوادار گرامی بلیط شما برای بازی مس-قشقایی با کدملی ${success.national_code} در تاریخ 15 اردیبهشت رزرو گردید.<br/>لطفا در هنگام ورود کارت ملی و کارت واکسن همراه داشته باشید.<br/>از ورود شما بدون کارت واکسن جلوگیری خواهد شد. <br/></p> `).hide().fadeIn()
                $('#reserve_button').addClass('d-none')
                $('#buy-ticket-button').removeClass('read-more').addClass('btn btn-success').html('رزرو شد')
            },
            error: function (error) {
                $('.field-errors').remove()
                for (let field of Object.keys(error.responseJSON)) {
                    let html = `<p class="text-danger m-auto field-errors mb-2"><b class="border-bottom border-danger"></b>${error.responseJSON[field][0]}</p>`
                    $(`#id_${field}`).after(html).hide().fadeIn()
                }
            },
            statusCode:{
                403: function(){
                    alert('شما باید اول وارد سایت شوید')
                },
                400: function(error){
                    alert("خطایی رخ داده است")
                    alert("ثبت کد ملی تکراری")
                }
            }
        })
    }
</script>