{% load static %}
{% load site_settings_tags %}

<div class="tm-menu-box">
    <div style="height: 70px;" class="uk-sticky-placeholder">
        <nav style="margin: 0;" class="tm-navbar uk-navbar" data-uk-sticky="">
            <div class="uk-container uk-container-center">
                <a class="tm-logo uk-float-left" href="{% if site_settings.home_link %}{{ site_settings.home_link }}{% else %}http://mes-fc.ir/{% endif %}">
                    <img src="{% static 'images/logo-img.png' %}" alt="logo" title="logo">
                    {% if site_settings.home_link %}
                    <span>{{ site_settings.home_link | before_dot }}<em>.{{ site_settings.home_link | after_dot }}</em></span>
                        {% else %}<span>BelitMes<em>.ir</em></span>
                    {% endif %}
                </a>

                <ul style="direction: rtl;" class="uk-navbar-nav uk-hidden-small">
                    <li style="float: right;"><a href="{% url 'events:index'%}">خانه</a>

                    <li style="float: right;"><a href="http://mes-fc.ir/">اخبار</a>

                    <li style="float: right;" data-uk-dropdown="{'preventflip':'y'}" aria-haspopup="true"
                        aria-expanded="false"><a href="#">در باره ما</a></li>
                    {% if user.is_authenticated %}
                        <li style="float: right;" class="uk-parent" data-uk-dropdown="{'preventflip':'y'}"
                            aria-haspopup="true" aria-expanded="false"><a href="{% url 'accounts:my-tickets' %}"> بلیط های من</a>
                        </li>
                    {% endif %}
                    <li style="float: right;" class="uk-parent" data-uk-dropdown="{'preventflip':'y'}"
                            aria-haspopup="true" aria-expanded="false"><a href="#"> خرید بلیط</a>
                    </li>

                    <li style="float: right;" class="uk-parent" data-uk-dropdown="{'preventflip':'y'}"
                        aria-haspopup="true" aria-expanded="false"><a href="#">تماس با ما</a>

                    </li>
                    {% if request.user.is_authenticated %}
                     <li style="float: right;"><a href="{% url 'accounts:logOut' %}">خروج</a>
                         <li style="float: left;"><a href="#">{{ user.first_name }}</a>
                 {% else %}
                    <li style="float: right;"><a href="{% url 'accounts:register' %}">ثبت نام</a>
                    <li style="float: right;"><a href="{% url 'accounts:login' %}">ورود</a>
                {% endif %}





                </ul>
                <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>
            </div>
        </nav>
    </div>

</div>